.shop1Button {
    text-align: end;
}

.registerShopBtn {
    width: 80px;
    margin-right: 1em;
    background: #C9E79D;
    border: 1px solid #000000;
    border-radius: 7px;
}

.cancelShopBtn {
    width: 80px;
    background: #F0F0F0;
    border: 1px solid #000000;
    border-radius: 7px;
}

.shop1Container {
    gap: 50px;
}